{% extends "base.html" %}

{% block title %}Home Page {% endblock %}

{% block content  %}
 <div class="container">

    <h1>Car Auction </h1>
    {% for car in cars %}

    <div class="card" style="width: 18rem;">
  <img src="{{car.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{Car.title}}</h5>
    <p class="card-text">{{car.description}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    {% endfor %}

 </div>

{% endblock %}